$dark-blue: #3443b0;
$dark-gray: #292929;
$gray: #7a7a7a;
$light-grayish-blue: #edf2fb;
$white: #ffffff;
$red: #f16d66;
$blue: #2274a5;
$blueish-gray: #5d737e;
$yellow: #ffd233;
$green: #32936f;
$violet: #4e4eb8;
$orange: #e16025;
